<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cheng.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CircleProgressViewActivity" />
        <activity
            android:name=".activity.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="mrscheng#xuexandroid" />

        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".huanxin.HuanXinMainActivity" />
        <activity android:name=".huanxin.FriendListActivity" />
        <activity android:name=".Thead.TheadActivity" />
        <activity android:name=".Thead.Main2SubTheadActivity" />
        <activity android:name=".Thead.SubTheadMessageActivity" />
        <activity android:name=".shijian.Activity.ScrollViewForListViewActivity" />
        <activity android:name=".shijian.Activity.ShijianActivity" />
        <activity android:name=".view.ViewActivity" />
        <activity android:name=".view.ViewGroupActivity" />
        <activity android:name=".Listview.ListViewActivity" />
        <activity android:name=".RecyclerView.RecyclerViewActivity" />
        <activity android:name=".RecyclerView.RecyclerViewActivity2" />
        <activity android:name=".Scroll.AndroidScrollActivity" />
        <activity android:name=".Scroll.ScorllActivity" />
        <activity android:name=".Permission.PermissionActivity" />
        <activity
            android:name=".Permission.PermissionUtilsActivity"
            android:label="@string/title_activity_permission_utils"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".google.GoogleActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDkM7Vd3CzxXeBF-vGmYSFGU6yMjqPQ0yo" />

        <activity android:name=".google.SimpleFragmentModeActivity" />
        <activity android:name=".google.LuxianActivity" />
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".bugly.BuglyActivity" />
        <activity android:name=".Okgo.OKGoActivity" />
        <activity android:name="com.example.cheng.GreenDao.GreenDaoActivity" />
        <activity android:name=".UI.UIActivity" />
        <activity android:name=".UI.ViewStubActivity" />
        <activity android:name=".UI.mergeActivity" />
        <activity android:name=".UI.CompoundDrawableActivity" />
        <activity android:name=".CheckVersion.CheckVersionActivity" />

        <service
            android:name=".CheckVersion.DemoService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Volley.VolleyActivity" />

        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" />

        <activity android:name=".Service.ServiceActivity" />

        <service android:name=".Service.TestTwoService" />
        <service
            android:name=".Service.TestOnceService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".Service.IPCService" />

        <activity android:name=".BaseBottom.BaseBottomViewActivity"></activity>
    </application>

</manifest>